.nav-style .header {
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
}
.nav-style{
	width: 100%;
	height: 100px;
}
.nav-bar{
	width:100%;
	height: 30px;
	background-color: red;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	color: black;
}
.nav-bar-logingButtons{
	width:100%;
	height: 100px;
	background-color: red;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	color: black;
}
.logo-nav{
	max-width: 10%;	
}