.table-teams {
  width: 100%;
  display: flex;
  justify-content:center;
  align-content: space-between;
  flex-wrap: wrap;
}
.table-teams-item {   
  width: 10%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 2%;
  opacity: 0.7;
  transition: 0.3s all ease
}
.table-teams-item:hover{
  opacity: 1;
  transform: scale(1.1)

}
.img-team{
  width: 10vw;
  height: 10vw;
}
