.Usercard-container{
  height: 30vw;
  width: 30vw;
  border: 5px solid #282c34;
  background-color: #2a4577;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-content: center; 
  grid-gap: 15px;
  /* padding: 20px; */
}
.Usercard-container img{
  width: 40%
}
.user-position {
  margin:0;
}
.user-team {
  margin:0;
}